.container_appdash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px 10px 1px rgb(185, 185, 185);
    /*backdrop-filter: blur(30px);*/
    width: 95% ;
    padding: 20px;
    border-radius: 20px;
}

.infos_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: black;
    font-size: 18;
    font-weight: 600;

    .text{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
}